<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SAT</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/home/polares/Downloads/IPC2Proyecto3/aplicacion/templates/app/assets/favicon.ico" />
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" >
                    <div class="container-fluid" style="background-color: purple;">
                        {% load static %}
                        <img src="{% static 'mashup-icon.svg' %}" class="navbar-logo-img" alt="">
                        <h3 style="text-align: center; color:snow;"> SAT </h3>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color: snow;">Peticiones</a>
                                    <div class="dropdown-menu dropdown-menu-end" role="menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Consultar Datos</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Resumen por fecha y NIT</a
                                        <a class="dropdown-item" href="#!">Resumen por rango de fechas</a>
                                    </div>
                                    <li class="nav-item"><a class="nav-link" href="#!" style="color: snow;">Ayuda</a></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <main>
                        <div class="container-fluid">
                            <h1 style="text-align: center; color:cornflowerblue;">Superintendencia de Administración Tributaria</h1>
                            <h3 style="text-align: center; color:purple;">Autorizador de Documentos Tributarios Electrónicos (DTE)</h1>
                        </div>
                    </main>
                    <div id="layoutSidenav_content">
                        <main>
                            <div class="container-fluid">
                                <h1 class="mt-4">Fechas en donde fueron aprobados DTE's</h1>
                                <div class="table-responsive" id="tabla">
                      
                                </div>
                                <h2>Rango de fechas totales</h2>
                                <form>
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-sm-4">
                                            <div class="card" style="background-color: D6F2F3;">
                                                <div class="card-body">
                                                    <h5 class="card-title" style="text-align: center;">Escribe el rango la fecha a consultar</h5>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Fecha Inicio</label>
                                                        <input type="text" class="form-control" id="fecha1" placeholder="Inicio">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlTextarea1" class="form-label">Fecha Final</label>
                                                        <input type="text" class="form-control" id="fecha2" placeholder="Final">
                                                    </div>
                                                    <button onclick="r1()" class="btn btn-info">Enviar solicitud</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <h2>Rango de fechas sin IVA</h2>
                                <form>
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-sm-4">
                                            <div class="card" style="background-color: D6F2F3;">
                                                <div class="card-body">
                                                    <h5 class="card-title" style="text-align: center;">Escribe el rango la fecha a consultar</h5>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Fecha Inicio</label>
                                                        <input type="text" class="form-control" id="fechaI" placeholder="Inicio">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlTextarea1" class="form-label">Fecha Final</label>
                                                        <input type="text" class="form-control" id="fechaF" placeholder="Final">
                                                    </div>
                                                    <button onclick="r2()" class="btn btn-info">Enviar solicitud</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="dropdown-item" href="{% url 'rango_total' %}">Ver Resumen de totales</a>
                                <a class="dropdown-item" href="{% url 'rango_sin_iva' %}">Ver Resumen sin IVA</a> 
                                <div class="table-responsive" id="tabla2" style="visibility: hidden;">
                      
                                </div>
                            </div>
                        </main>
                    <script>
                function r1() {
                    const fecha1 = document.getElementById('fecha1').value;
                    const fecha2 = document.getElementById('fecha2').value
                    const url = 'http://127.0.0.1:5000/';
                    const ruta = url + "ResumenRango1?fecha1=" + fecha1 +"&fecha2=" + fecha2;
                    fetch(ruta)
                        .then((resp) => resp.json())
                    }
                    alert("Solicitud enviada")

                
                function r2() {
                    const fechaI = document.getElementById('fechaI').value;
                    const fechaF = document.getElementById('fechaF').value
                    const url = 'http://127.0.0.1:5000/';
                    const ruta = url + "ResumenRango2?fechaI=" + fechaI +"&fechaF=" + fechaF;
                    fetch(ruta)
                        .then((resp) => resp.json())
                    alert("Solicitud enviada")
                    }
                    </script>
                    <script>
                var antes = `<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>`
                var despues = `</tbody>
</table>`
                let xhr = new XMLHttpRequest();
                var ruta = "http://127.0.0.1:5000/agregar_fechas";
                xhr.open('GET', ruta);
                xhr.send()
                xhr.onreadystatechange = (e) => {
                    var fechas = JSON.parse(xhr.responseText);
                    var cuerpo = "";
                    var cuerpo2 = "";
                    for (var i = 0; i<fechas.length; i++) {
                        cuerpo += '<tr>';
                        cuerpo2 += '<tr>';
                        cuerpo += '<td>' + fechas[i].fecha + '</td>';
                        cuerpo2 += '<td>' + fechas[i].fecha + '</td>';
                        cuerpo += '</tr>';
                        cuerpo2 += '</tr>';
                    }
                    document.getElementById("tabla").innerHTML = antes + cuerpo + despues;
                    document.getElementById("tabla2").innerHTML = antes + cuerpo2 + despues;
                }
            </script>
        </div>
    </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
