<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SAT</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/home/polares/Downloads/IPC2Proyecto3/aplicacion/templates/app/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/home/polares/Downloads/IPC2Proyecto3/aplicacion/templates/app/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" >
                    <div class="container-fluid" style="background-color: purple;">
                        <img src="mashup-icon.svg" class="navbar-logo-img" alt="">
                        <h3 style="text-align: center; color:snow;"> SAT </h3>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color: snow;">Peticiones</a>
                                    <div class="dropdown-menu dropdown-menu-end" role="menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Consultar Datos</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Resumen por fecha y NIT</a
                                        <a class="dropdown-item" href="#!">Resumen por rango de fechas</a>
                                    </div>
                                    <li class="nav-item"><a class="nav-link" href="#!" style="color: snow;">Ayuda</a></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <main>
                        <div class="container-fluid">
                            <h1 style="text-align: center; color:cornflowerblue;">Superintendencia de Administración Tributaria</h1>
                            <h3 style="text-align: center; color:purple;">Autorizador de Documentos Tributarios Electrónicos (DTE)</h1>
                        </div>
                    </main>
                    <div id="layoutSidenav_content">
                        <main>
                            <div class="container-fluid">
                                <h1 class="mt-4">Resumen de datos fecha</h1>
                                <h1 class="mt-4"></h1>
                                <div class="table-responsive" id="tabla">
                      
                                </div>
                                <div class="table-responsive" id="tabla2" style="visibility: hidden;">
                      
                                </div>
                            </div>
                        </main>
                    <script>
                var antes = `<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Total del dia</th>
        </tr>
    </thead>
    <tbody>`
                var despues = `</tbody>
</table>`
                let xhr = new XMLHttpRequest();
                var ruta = "http://127.0.0.1:5000/ResumenRango1";
                xhr.open('GET', ruta);
                xhr.send()
                xhr.onreadystatechange = (e) => {
                    var fechas = JSON.parse(xhr.responseText);
                    var cuerpo = "";
                    var cuerpo2 = "";
                    for (var i = 0; i<fechas.length; i++) {
                        cuerpo += '<tr>';
                        cuerpo2 += '<tr>';
                        cuerpo += '<td>' + fechas[i].fecha + '</td>';
                        cuerpo2 += '<td>' + fechas[i].fecha + '</td>';
                        cuerpo += '<td>' + fechas[i].total_general + '</td>';
                        cuerpo2 += '<td>' + fechas[i].total_general + '</td>';
                        cuerpo += '</tr>';
                        cuerpo2 += '</tr>';
                    }
                    document.getElementById("tabla").innerHTML = antes + cuerpo + despues;
                    document.getElementById("tabla2").innerHTML = antes + cuerpo2 + despues;
                }
            </script>
        </div>
    </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/home/polares/Downloads/IPC2Proyecto3/aplicacion/templates/app/js/scripts.js"></script>
    </body>
</html>
